/**
render for html file, which markdown export to html in idea.
base YetAnotherGithub theme by udi at 2019
*/

body {
    width:100% !important;
}

h1 {
    margin-top:36px!important;
}


li{
    line-height:24px;
}
