# 发私服配置
registry "http://git.cloudnk.cn/repository/npm-hosted/"
# 发到npmjs,取消 registry

# yarn安装时，指定淘宝或私服
# registry "https://registry.npm.taobao.org"
# registry "http://saas-dev.nancal.com:31016/repository/npm-group/"

sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
puppeteer_download_host "https://npm.taobao.org/mirrors"
phantomjs_cdnurl "http://cnpmjs.org/downloads"
electron_mirror "https://npm.taobao.org/mirrors/electron/"
sqlite3_binary_host_mirror "https://foxgis.oss-cn-shanghai.aliyuncs.com/"
profiler_binary_host_mirror "https://npm.taobao.org/mirrors/node-inspector/"
chromedriver_cdnurl "https://cdn.npm.taobao.org/dist/chromedriver"
